/* App.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
}

.balance {
  font-size: 24px;
  color: #3498db; /* Синий цвет текста */
  margin-bottom: 10px;
}

.popup {
  margin-top: 10px;
}

.number-container {
  display: flex;
  justify-content: center;
}

.number {
  background-color: #3498db; /* Синий цвет фона */
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.number.active {
  background-color: #e74c3c; /* Красный цвет фона для активного числа */
}

button {
  margin-top: 10px;
}
